*.class

# Package Files #
*.jar               #Exclude all jars
!gradle-wrapper.jar #Except for gradle-wrapper.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.so
.classpath
.project
.settings/
.gradle/
.idea/
build/
bin/
out/
gen/
local.properties
!gradle/
